@mixin theme($theme: $color-02) {
    border: 1px, solid, $theme;
    background-color: $color-default;
}

.motos {
    &__title {
        padding: 20px;
        color: $color-01;
    }
    @include theme;

    &__item {
        @include theme($theme: $color-03);
        color: $color-default;

        &--destack {
            @include theme;
        }
        

        &__button {
            background-color: $color-01;
        }
    }
}