$align: left;
$bg-color: #3701fd;
$color-01: rgb(0, 0, 0);
$color-02: #ff0000;
$color-03: rgb(246, 255, 0);
$color-04: #05fb36;
$color-default: #ffffff;
$font-big: 2.5rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2rem;
$font-normal: 1.5rem;
$font-small: 1.3rem;
$mb: 1.8rem;
$mt: 1.8rem;
$mt-02: 2.5rem;
$space-default: 1.8rem;
$tablet: 999px;